:root {}

body {
    background-image: url("abstract-bubbles-backgroung.svg");
    background-size: cover;
}


.clock,
.hand,
.hours,
.minutes,
.seconds,
.center {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.clock {

    height: 25rem;
    width: 25rem;
    border-radius: 25rem;
    /* background: radial-gradient(circle, rgba(180, 127, 255, 0.6870098381149334) 0%, rgba(170, 255, 123, 0.7458333675266982) 40%, rgba(124, 225, 251, 0.6982143199076505) 100%); */
    border: 1rem solid white;

}

.center {
    height: 1rem;
    width: 1rem;
    background-color: white;
    border-radius: 0.5rem;
}

.hand {
    background-color: rgb(125, 100, 188);
    height: 0.5rem;
    width: 50%;
    right: 50%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transform-origin: 100%;
    transition-timing-function: cubic-bezier(0.43, 0.42, 0, 2.85);

}

.hours {
    height: 0.8rem;
    width: 43%;
    left: 7%;
}

.seconds {
    height: 4px;

}